<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico?v=1.2">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <title>{{ title }}</title>

    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@proofxstence" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" / >

  </head>
  <body>

    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <div id="root"></div>
    <script src="/dist/client.min.js" type="text/javascript"></script>
  </body>
</html>
