<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>

        {{# if site.email }}

        <li>
          <a href="mailto:{{ site.email }}">For questions, email {{ site.email }}</a>
        </li>

        {{/if}}

        {{# if social.twitter }}
        <li>
          <a href="https://twitter.com/{{ social.twitter }}">
            Twitter
          </a>
        </li>
        {{/if}}
        {{# if social.facebook }}
        <li>
          <a href="https://facebook.com/{{ social.github }}">
            Facebook
          </a>
        </li>
        {{/if}}
        {{# if social.github }}
        <li>
          <a href="https://github.com/{{ social.github }}">
            GitHub
          </a>
        </li>
        {{/if}}
        <li>
          <a href="https://en.wikipedia.org/wiki/Proof_of_Existence">
            History
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right"> Powered by
      &copy; {{ year }} <a href="http://proofofexistence.com">Proof of Existence</a>
    </div>
  </div>
</footer>
